body {
    font-family: "Poppins", sans-serif;
  }

header, .nav_links, .pricing, .gallery {
    display: flex;
}

header {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    }

header img {
    animation: fadeIn 3s;
}

.nav_links {
    flex-direction: column;
    }

.pricing {
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    }

.gallery {
    flex-wrap: wrap;
    justify-content: center;
    }

@media all and (min-width: 700px) {
    header {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    header img {
        width: 400px;
    }

    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    .nav_links {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .card {
        width: 300px;
    }

    .gallery img {
        width: 300px;
    }
}

@media (prefers-reduced-motion) {
    header img {
        animation: none;
    }
}